@model EntityLayer.Concrete.Guide
@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Add New Guide</h1>

<form method="post">

    <div class="form-group">
        @Html.Label("Name")
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Description")
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Image")
        <input type="text" asp-for="Image" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("X Url")
        <input type="text" asp-for="XUrl" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Instagram Url")
        <input type="text" asp-for="InstagramUrl" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label(" Status")
        <input type="text" asp-for="Status" class="form-control" />
    </div>
    <br />
  
 
    <br />
   
    <button class="btn btn-outline-primary"> Create </button>
</form>