@using EntityLayer.Concrete
@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int counter = 0;
}

<h1>User List</h1>

@if (!Model.Any())
{
    <span>Geçmiş rezervasyon bulunmamaktadır.</span>
}
else
{
    <table class="table table-bordered">
        <tr>
            <th>No</th>
            <th>Name, Surname</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Delete</th>
            <th>Edit</th>
            <th>Comments</th>
            <th>Reseration</th>
        </tr>
        @foreach (var item in Model)
        {
                counter = counter + 1;            
            <tr>
                <td>@counter</td>
                <td>@item.Name, @item.Surname </td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.Gender</td>
                <td><a href="/Admin/User/DeleteUser/@item.Id" class="btn btn-outline-danger">Delete</a></td>
                <td><a href="/Admin/User/EditUser/@item.Id" class="btn btn-outline-success">Edit</a></td>
                <td><a href="/Admin/User/CommentUser/@item.Id" class="btn btn-outline-info">Comments</a></td>
                <td><a href="/Admin/User/ReservationUser/@item.Id" class="btn btn-outline-primary">Reservations</a></td>
            </tr>
        }
    </table>
    <a href="/Admin/User/AddUser" class="btn btn-outline-secondary">Create Destination</a>

}